/* --------------------------------------------------

Name: Tom Gobich
Date: June 22, 2016
Abstract: JQuery Content Slider Global Styles

--------------------------------------------------- */

/* Reset */
* {
    padding: 0;
    margin: 0;
}



/* HTML Tag Styles */
body {
    background-color: #5A5A5A;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    color: #D6D6D6;
    line-height: 1.6em;
}

a {
    color: #D6D6D6;
    text-decoration: none;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}



/* Site Container */
#container {
    width: 980px;
    margin: 40px auto;
    overflow: hidden;
}



/* Slider Styles */
#slider {
    width: 920px;
    height: 350px;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 3px;
    border: 2px solid #D6D6D6;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

    #slider img {
        width: 920px;
        height: 350px;
    }

    .slide {
        position: absolute;
    }

        .slide.active {
            z-index: 10;
        }

        .slide-copy {
            position: absolute;
            bottom: 6px;
            left: 0;
            padding: 20px;
            background-color: #5A5A5A;
            background-color: rgba( 0, 0, 0, 0.5 );
        }



/* Slider Navigation Styles */
#prev,
#next {
    width: 50px;
    height: 50px;
    background-color: #5A5A5A;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    float: left;
    margin-top: 150px;
    cursor: pointer;
    position: relative;
    z-index: 100;
}

#prev {
    margin-right: -25px;
}

#next {
    margin-left: -25px;
}